*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
Pods/Pods.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
.DS_Store
#CocoaPods
Pods
Pods/
Pod_Products/

/build
.build

!Podfile
!Podfile.lock
Carthage/

.swiftpm
Package.resolved

*.local.xcconfig

Example/Example.xcodeproj/xcuserdata/
**/*/xcuserdata
*.docc-build/
